/Item.class
/ItemBrick.class
/ItemButton.class
/ItemClayPot.class
/ItemCoffee.class
/ItemComputer.class
/ItemDeskLight.class
/ItemDiamond.class
/ItemDocument.class
/ItemDynamite.class
/ItemFlashlight.class
/ItemFolder.class
/ItemFood.class
/ItemFridge.class
/ItemGold.class
/ItemKey.class
/ItemKeycard.class
/ItemKeycardReader.class
/ItemLadder.class
/ItemLock.class
/ItemMagicBox.class
/ItemMicrowave.class
/ItemSafe.class
/ItemShovel.class
/ItemTorch.class
/ItemUnknown.class
/ItemVendingMachine.class
