/Chuckable.class
/Destroyable.class
/Droppable.class
/Edible.class
/Explodable.class
/Holdable.class
/Hostable.class
/Inspectable.class
/Installable.class
/Luminous.class
/Meltable.class
/Openable.class
/Pushable.class
/Shakeable.class
/Startable.class
/Valuable.class
/Visible.class
